#formacao {
    background: #1a1a1a;
    padding: 0px 40px;
}


#formacao h3 {
    float: left; /* formação para esquerda*/
    margin-right: 60px;
    line-height: 8; /* altura da linha formação */
    font-size: 4.0rem;
    font-weight: 900;
    color: #000;
    margin-bottom: 40px;
    text-transform: uppercase;

}

#formacao p {
    font-family: 'Fira Sans', sans-serif; 
    color: #FFFFFF;
    max-width: 700px;
    
    font-size: 1rem;

}

/* Bacharel / Especialização */
.formation {
    background: #000000;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 20px 20px 0;
    display: inline-block;
    min-width: 220px;
    position: relative;
    z-index: 1;
}

.formation span {
    display: block;
    margin: 3px 0;
    color: #bbb;
}

.formation strong {
    font-size: 1.2rem;
    color: #fff;
}

.paizao {
    display: flex;
}



#formacao ul li {
    position: relative;
    padding-left: 20px;
    color: #ccc;
}

#formacao ul li::before {
    content: "●";
    position: absolute;
    left: 0;
    color: #0080ff;
}
