header {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    align-items: center;
}
nav ul {
 display: flex;  /* deixar lado a lado */ 
 gap: 10px; /* Espaçamento entre elementos */ 
 
}

li  a {
    background-color: #E0E0E0;
    padding: 1.3rem 2rem; /* Preenchimento  interno */ 
    border-radius: 0.9rem;
     color: #141414;
     font-family: 'Fira Sans', sans-serif;
}

.logo-nome { 
    display: flex;
    align-items: center;
    font-family: 'Playfair Display', serif;
    color: #0C3B64;
    font-size: 1.5rem;
    font-weight: bold;
    
    

}